<form class='{{cssClass}}' autocomplete='off'>
  <header class='sheet-header'>
    <img src='{{item.img}}' class='item-img' data-edit='img' title='{{item.name}}' />
    <div class='field big'>
      <input name='name' type='text' value='{{item.name}}' placeholder='{{loc "name"}}' />
    </div>
  </header>

  <section>
    <div class='field-group'>
      <div class='field'>
        <label for='system.level'>{{loc 'talents.level'}}</label>
        <select name='system.level' data-dtype='Number'>
          {{selectOptions levels selected=systemData.level}}
        </select>
      </div>

      <div class='field'>
        <label for='system.bonus'>{{loc 'talents.bonus'}}</label>
        <select name='system.bonus' data-dtype='Number'>
          {{selectOptions bonuses selected=systemData.bonus}}
        </select>
      </div>

      <div class='field'>
        <label for='system.attribute'>{{loc 'talents.attribute'}}</label>
        <select name='system.attribute'>
          {{selectOptions attributes selected=systemData.attribute}}
        </select>
      </div>
    </div>
    <div class='field'>
      <label>{{loc 'description'}}</label>
      {{editor
        systemData.description
        target='system.description'
        rollData=rollData
        button=true
        owner=owner
        engine='prosemirror'
        editable=editable
      }}
    </div>
  </section>
</form>