<form class='{{cssClass}}' autocomplete='off'>
  <header class='sheet-header'>
    <img src='{{item.img}}' class='item-img' data-edit='img' title='{{item.name}}' />
    <div class='field big'>
      <input name='name' type='text' value='{{item.name}}' placeholder='{{loc "name"}}' />
    </div>
  </header>

  <section>
    <div class='field centered'>
      <label for='system.type'>{{loc 'gear.weapons.type'}}</label>
      <div class='field-radio'>
        {{radioBoxes 'system.type' weaponTypes checked=systemData.type localize=false}}
      </div>
    </div>
    <div class='field-group'>
      <div class='field centered'>
        <label for='system.bonus'>{{loc 'gear.bonus'}}</label>
        <select name='system.bonus' data-dtype='Number'>
          {{selectOptions bonuses selected=systemData.bonus}}
        </select>
      </div>
      <div class='field centered width-small'>
        <label for='system.damage'>{{loc 'gear.weapons.damage'}}</label>
        {{numberInput systemData.damage name='system.damage' step=1 min=1 max=99}}
      </div>
      <div class='field centered width-small'>
        <label for='system.crit'>{{loc 'gear.weapons.crit'}}</label>
        {{numberInput systemData.crit name='system.crit' step=1 min=0 max=9}}
      </div>
      {{#if (eq systemData.type 'ranged')}}
        <div class='field centered'>
          <label for='system.range'>{{loc 'ranges.label'}}</label>
          <select name='system.range'>
            {{selectOptions ranges selected=systemData.range}}
          </select>
        </div>
      {{/if}}
    </div>
    <div class='field'>
      <label for='system.features'>{{loc 'gear.features'}}</label>
      <textarea name='system.features'>{{systemData.features}}</textarea>
      <p>{{loc 'gear.features_hint'}}</p>
    </div>
    <div class='field'>
      <label>{{loc 'description'}}</label>
      {{editor
        content=systemData.description
        target='system.description'
        rollData=rollData
        button=true
        owner=owner
        editable=editable
      }}
    </div>
  </section>
</form>