<div class='coriolis-message'>
  <h3>{{item.name}}</h3>

  {{#if (eq item.type 'weapon')}}
    <div class='coriolis-message-features'></div>
  {{else if (eq item.type 'armor')}}
    <div class='coriolis-message-features'></div>
  {{else if (eq item.type 'talent')}}
    <div class='coriolis-message-features'></div>
  {{else if (eq item.type 'bird_ability')}}
    <div class='coriolis-message-features'></div>
  {{else if (eq item.type 'gear')}}
    <div class='coriolis-message-features'></div>
  {{/if}}
</div>