<form class='{{cssClass}} {{data.type}}' autocomplete='off'>
  <header class='sheet-header'>
    <img class='npc-img' src='{{data.img}}' data-edit='img' title='{{data.name}}' height='100' width='100' />
    <input name='name' type='text' class='npc-name' value='{{data.name}}' placeholder='{{loc "name"}}' />
  </header>

  <section class='description'>
    <button class='description-setup setup-toggle' data-section='description'>
      {{#if setup.description}}
        <i class='fa fa-check'></i>
      {{else}}
        <i class='fa fa-gear'></i>
      {{/if}}
    </button>
    {{#if setup.description}}
      <div class='description-editor'>
        <div class='field big centered'>
          {{editor
            content=systemData.notes
            target='system.notes'
            button=true
            owner=owner
            editable=editable
            engine='prosemirror'
          }}
        </div>
        <button class='setup-toggle' data-section='description'>
          <i class='fa fa-check'></i>
          <span>{{loc 'done'}}</span>
        </button>
      </div>
    {{else}}
      {{#if systemData.notes}}
        <div class='description-content'>
          {{{systemData.notes}}}
        </div>
      {{else}}
        <div class='warning'>{{loc 'npc.no_description'}}</div>
      {{/if}}
    {{/if}}
  </section>

  <section>
    <h2>
      <div>
        <span>{{loc 'creature.properties'}}</span>
        <button class='properties-setup setup-toggle' data-section='properties'>
          {{#if setup.properties}}
            <i class='fa fa-check'></i>
          {{else}}
            <i class='fa fa-gear'></i>
          {{/if}}
        </button>
      </div>
    </h2>
    <div class='creature-properties'>
      <div class='creature-property'>
        <label for='system.ferocity'>{{loc 'creature.ferocity'}}</label>
        {{#if setup.properties}}
          {{numberInput systemData.ferocity name='system.ferocity' step=1 min=1 max=99}}
        {{else}}
          <span>{{systemData.ferocity}}</span>
        {{/if}}
      </div>

      <div class='creature-property'>
        <label for='system.size'>{{loc 'creature.size'}}</label>
        {{#if setup.properties}}
          <input type='text' name='system.size' value='{{systemData.size}}' />
        {{else}}
          <span>{{orElse systemData.size '-'}}</span>
        {{/if}}
      </div>

      <div class='creature-property {{ifThen setup.properties "" "roll-armor"}}'>
        <label for='system.armor'>{{loc 'creature.armor_rating'}}</label>
        {{#if setup.properties}}
          {{numberInput systemData.armor name='system.armor' step=1 min=0 max=99}}
        {{else}}
          <span>{{systemData.armor}}</span>
        {{/if}}
      </div>
    </div>
  </section>

  <section>
    <h2>
      <div>
        <span>{{loc 'stats.health'}}</span>
        <button class='health-setup setup-toggle' data-section='health'>
          {{#if setup.health}}
            <i class='fa fa-check'></i>
          {{else}}
            <i class='fa fa-gear'></i>
          {{/if}}
        </button>
      </div>
    </h2>

    {{#if setup.health}}
      <div class='health-edit'>
        <div class='health'>
          <div class='health-edit'>
            <button class='health-minus'>
              <i class='fa fa-minus'></i>
            </button>
            {{numberInput systemData.health.max name='system.health.max' step=1 min=1 max=99}}
            <button class='health-plus'>
              <i class='fa fa-plus'></i>
            </button>
          </div>
        </div>
      </div>
    {{else}}
      <div class='health-bar'>
        <div class='stat'>
          <div class='stat-counter'>
            {{#each (range 1 systemData.health.max) as |i|}}
              <div
                class='stat-counter-dot {{ifThen (gte @root.systemData.health.value i) "active" ""}}'
                data-value='{{i}}'
                data-stat='health'
              ></div>
            {{/each}}
          </div>
        </div>
      </div>
    {{/if}}
  </section>

  <section>
    <h2>
      <div>
        <span>{{loc 'creature.abilities.label'}}</span>
        <button class='add-item' data-type='creature_ability'>
          <i class='fa fa-plus'></i>
        </button>
      </div>
    </h2>

    {{#hasItems creatureAbilities}}
      <ul class='item-list item-list-npc'>
        {{#each creatureAbilities as |t|}}
          <li class='item' data-item-id='{{t._id}}'>
            <h3 class='item-title'>
              {{t.name}}
            </h3>
            <div class='item-description'>{{{t.system.description}}}</div>
            <div class='item-actions'>
              <button
                class='item-action show-item'
                data-type='talent'
                data-id='{{t._id}}'
                title='{{loc "post_to_chat"}}'
              >
                <i class='fa fa-comment'></i>
              </button>
              <button class='item-action edit-item' data-type='talent' data-id='{{t._id}}' title='{{loc "edit"}}'>
                <i class='fa fa-edit'></i>
              </button>
              <button class='item-action delete-item' data-type='talent' data-id='{{t._id}}' title='{{loc "delete"}}'>
                <i class='fa fa-trash'></i>
              </button>
            </div>
          </li>
        {{/each}}
      </ul>
    {{else}}
      <div class='warning'>{{loc 'creature.abilities.empty'}}</div>
    {{/hasItems}}
  </section>

  <section>
    <h2>
      <div>
        <button class='roll-random-attack'>
          <i class='fa fa-dice'></i>
        </button>
        <span>{{loc 'creature.attacks.label'}}</span>
        <button class='add-item' data-type='creature_attack'>
          <i class='fa fa-plus'></i>
        </button>
      </div>
    </h2>

    {{#hasItems creatureAttacks}}
      <ul class='item-list item-list-npc'>
        {{#each creatureAttacks as |e|}}
          <li class='item' data-item-id='{{t._id}}'>
            <h3 class='item-title'>
              <a
                href='#'
                class='roll-item item-title'
                title='{{loc "roll"}}'
                data-id='{{e._id}}'
                data-type='{{e.type}}'
              >{{attackNumber @index}}. {{e.name}}</a>
            </h3>
            <div class='item-description'>{{{e.system.description}}}</div>
            <div class='item-actions'>
              <button class='item-action roll-item' data-type='{{e.type}}' data-id='{{e._id}}' title='{{loc "roll"}}'>
                <i class='fa fa-dice'></i>
              </button>
              <button
                class='item-action show-item'
                data-type='{{e.type}}'
                data-id='{{e._id}}'
                title='{{loc "post_to_chat"}}'
              >
                <i class='fa fa-comment'></i>
              </button>
              <button class='item-action edit-item' data-type='{{e.type}}' data-id='{{e._id}}' title='{{loc "edit"}}'>
                <i class='fa fa-edit'></i>
              </button>
              <button
                class='item-action delete-item'
                data-type='{{e.type}}'
                data-id='{{e._id}}'
                title='{{loc "delete"}}'
              >
                <i class='fa fa-trash'></i>
              </button>
            </div>
          </li>
        {{/each}}
      </ul>
    {{else}}
      <div class='warning'>{{loc 'creature.attacks.empty'}}</div>
    {{/hasItems}}
  </section>
</form>